{% include 'header.html' %}
<section id="home" class="main main_travel">
    <h2 class="screen_out">여행 계획 메인</h2>
    <div class="info_travel">
        <strong class="tit_info">나만의 여행 아카이브를 시작해보세요!</strong>
        <p class="txt_info">여행 일정을 어떻게 만들어 볼까요?</p>
    </div>
    {% load static %}
    <div class="select_travel">
        <div class="box_select">
            <a href="{% url 'travel:recommend' %}" class="link_select">
                <div class="scope_info">
                    <h3 class="tit_select">자동 생성</h3>
                    <p class="txt_select">당신만을 위한 맞춤형 추천</p>
                </div>
                <img src="{% static 'images/P_plan.jpg' %}"/>
            </a>
        </div>
        <div class="box_select">
            <a href="{% url 'Jpage:jpagerender' %}" class="link_select">
                <div class="scope_info">
                    <h3 class="tit_select">직접 생성</h3>
                    <p class="txt_select">A-Z 내 손으로 만드는 일정</p>
                </div>
                <img src="{% static 'images/J_plan.jpg' %}"/>
            </a>
        </div>
    </div>
</section>
{% include 'footer.html' %}