{% include 'header.html' %}
<style>
    #main > .main{border:0 none}
    #main.cont_travel{background-color:transparent}
    .main_travel{display:flex;flex-direction:column;padding:0 !important;min-height: calc(100vh - 7em)}
    .info_travel{color:#fff}
    .info_travel .tit_info{font-size:2.8em;color:#fff !important;word-break:keep-all;}
    .info_travel .txt_info{font-size:1.5em}
    .select_travel{display:flex;flex:1;border-radius:0.25em;overflow:hidden}
    .select_travel .box_select{position:relative;width:50%;overflow:hidden}
    .select_travel .link_select{display:flex;z-index:10;align-items:center;justify-content:center;width:100%;height:100%;flex:1}
    .select_travel .link_select:after{position:absolute;left:0;right:0;bottom:0;top:0;background-color:rgba(0,0,0,0.02);content:''}
    .select_travel img{position:absolute;width:100%;height:100%;object-fit:cover;vertical-align:top;transition:transform 0.3s ease;}
    .select_travel .link_select:hover img,.select_travel .link_select:focus img{transform: scale(1.05);}
    .select_travel .scope_info{text-align:center;z-index:1;color:#fff;text-shadow:1px 1px 3px rgba(0, 0, 0, 0.3);}
    .select_travel .tit_select{color:#fff !important;font-weight:500;font-size:2.5em;margin-bottom:.2em}
    .select_travel .txt_select{font-size:1.5em;font-weight:400;margin-bottom:0}
    @media screen and (max-width: 480px) {
      .info_travel .tit_info{font-size:2.5em}
      .info_travel .txt_info{margin-bottom:1em}
      .select_travel{flex-direction:column}
      .select_travel .box_select{display:flex;width:100%;flex:1;flex-direction:column}
    }
</style>
<section id="home" class="main main_travel">
    <h2 class="screen_out">여행 계획 메인</h2>
    <div class="info_travel">
        <strong class="tit_info">나만의 여행 아카이브를 시작해보세요!</strong>
        <p class="txt_info">여행 일정을 어떻게 만들어 볼까요?</p>
    </div>
    {% load static %}
    <div class="select_travel">
        <div class="box_select">
            <a href="{% url 'travel:recommend' %}" class="link_select">
                <div class="scope_info">
                    <h3 class="tit_select">자동 생성</h3>
                    <p class="txt_select">당신만을 위한 맞춤형 추천</p>
                </div>
                <img src="{% static 'images/P_plan.jpg' %}"/>
            </a>
        </div>
        <div class="box_select">
            <a href="{% url 'Jpage:jpagerender' %}" class="link_select">
                <div class="scope_info">
                    <h3 class="tit_select">직접 생성</h3>
                    <p class="txt_select">A-Z 내 손으로 만드는 일정</p>
                </div>
                <img src="{% static 'images/J_plan.jpg' %}"/>
            </a>
        </div>
    </div>
</section>
{% include 'footer.html' %}